#cities {
    width: 100%;
    flex-basis: 40vh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.single-city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    transition: box-shadow .3s;

    .city-preview {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .city-name {
        flex: auto;
    }
    
    .btn {
        padding: 0 0.6rem;
        display: block;
        min-height: 64px;
        font-size: 2rem;
        color: $primary;
        background-color: transparent;
    }

    .save-city-btn {
        color: $weakPrim;
    }

    &.active {
        box-shadow: inset 0 0 8px rgba(0,0,0,.3);
    }
}