#main-display {
    position: relative;
    z-index: -10;
    flex-basis: 60vh;
    max-height: 60vh;
    background: rgb(252,159,37);
    // background: linear-gradient(0deg, rgba(252,159,37,1) 0%, rgba(204,168,78,1) 50%, rgba(27,200,230,1) 75%, rgba(0,205,254,1) 100%);
    color: $white;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    transition: filter 1.2s
}

#mountains-bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#displayed-city {
    opacity: 0;
    padding: 0 .6rem;
    z-index: 10;
    height: 60vh;
    width: 100%;

    display: grid;
    grid-template-rows: 10vh 1fr 4fr 1fr 1fr;
    justify-items: center;
    align-items: end;

}

#displayed-temp {
    font-size: 6rem;
    position: relative;

    #displayed-degrees {
        font-size: 2rem;
        position: absolute;
    }
}

#displayed-updated-at {
    justify-self: left;
    font-size: .8rem;
}

